---
layout: page
title: Projects
excerpt: "Past projects from school."
---

<h4>2013 Senior Project</h4>
<iframe width="560" height="315" src="https://www.youtube.com/embed/EoZV8eYFOhI" frameborder="0" allowfullscreen></iframe>

<a href="http://codenames.scottstaniewicz.com">
  <h3>Codenames</h3>
  {% include image.html url="/images/codenames.jpg" %}
</a>

<a href="http://wolf.scottstaniewicz.com">
  <h3>One Night Werewolf</h3>
  {% include image.html url="/images/werewolf.jpeg" %}
</a>

<a href="https://smmrizr.herokuapp.com/">
  <h3>Smmrizr</h3>
  Post urls-> Get an article summary
</a>
