<footer>
	<a href="https://github.com/{{ site.owner.github }}" title="{{ site.owner.name}} on Github" target="_blank">
		<div class="icon github">
			<img class="icon github light" src="/assets/icons/github-mark.svg" />
			<img class="icon github dark" src="/assets/icons/github-mark-white.svg" />
		</div>
	</a>
	<!-- <a href="{{ site.url }}/feed.xml" title="Atom/RSS feed"><i class="fa fa-rss-square fa-2x"></i></a> -->
	<div id="theme-toggle">
		<input type="checkbox" id="theme-toggle" />
		<label for="theme-toggle"></label>
	</div>
</footer>


<script>
	let toggle = document.getElementById("theme-toggle");
	function toggleCodeStyle(isDark) {
		document.querySelector('#light-theme-code-style').disabled = isDark
		document.querySelector('#dark-theme-code-style').disabled = !isDark
	}

	const storedTheme = localStorage.getItem('theme') || (window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light");
	if (storedTheme) {
		document.documentElement.setAttribute('data-theme', storedTheme)
		toggleCodeStyle(storedTheme === "dark")
	}

	toggle.onclick = function () {
		const currentTheme = document.documentElement.getAttribute("data-theme")
		const targetTheme = currentTheme === "dark" ? "light" : "dark"
		const isDark = targetTheme === "dark"
		document.documentElement.setAttribute('data-theme', targetTheme)
		localStorage.setItem('theme', targetTheme)
		// Check the input so we switch icons
		document.querySelector('#theme-toggle input').checked = isDark
		// Enable the correct code highlighting sheet
		toggleCodeStyle(isDark)
	};
</script>
<!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "4f145d9745ce43e7873939edac1b0495"}'></script><!-- End Cloudflare Web Analytics -->
